<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<mat-toolbar role="heading" class="app-bar mat-elevation-z6" color="primary">  

  <button mat-button class="m-toolbar-button">
    <mat-icon><i class="material-icons">home</i>
    </mat-icon>
    <span class = "material-icons_text"> Hockey score</span>
  </button>

  <button mat-button class="m-toolbar-button">
    <mat-icon> <i class="material-icons">menu</i>
    </mat-icon>
  </button>
 
  <span class="app-toolbar-filler"></span>
    <button mat-button class="m-toolbar-button">
      <mat-icon><i class="material-icons">settings_applications</i> </mat-icon>
    </button>
       <button mat-icon-button class="m-toolbar-button" >
      <mat-icon><i class="material-icons">lock_outline</i></mat-icon>
    </button>
    <button mat-button class="m-toolbar-button">
     <mat-icon> <i class="material-icons">lock_open</i></mat-icon>
    </button>
  
  </mat-toolbar>
  <div class="root-content">
    <router-outlet></router-outlet>
  </div>