<mat-card class="team-card">
  <mat-card-header>
    <div mat-card-avatar class="team-header-image"></div>
    <mat-card-title>{{team.name}}</mat-card-title>
    <mat-card-subtitle>{{team.city}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo">
  <mat-card-content>
    <p>
      {{team.description}}
    </p>
     <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Players
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-player *ngFor="let player of team.players" [player]="player"></app-player>
        </mat-expansion-panel>
      </mat-accordion>
  </mat-card-content>
  <mat-card-actions> 
      <button mat-icon-button class="mat-icon-button-card-actions">
        <mat-icon><i class="material-icons md-24 blue" aria-hidden="false" (click)="onDeleteSelect(team)">delete</i>
        </mat-icon>
      </button>
      <button mat-icon-button class="mat-icon-button-card-actions">
        <mat-icon><i class="material-icons md-24 blue" aria-hidden="false" (click)="onEditSelect(team)">mode_edit</i>
        </mat-icon>
      </button>
    </mat-card-actions>
 <!--  <mat-card-footer>....</mat-card-footer> -->
</mat-card>
