<div class="container">
<mat-list>
    <h3 mat-subheader>Folders</h3>
    <mat-list-item>
        <app-course></app-course>
        <mat-icon mat-list-icon>folder</mat-icon>Front end course
    </mat-list-item>
    <mat-list-item>
        <app-course></app-course>
        <mat-icon mat-list-icon>folder</mat-icon>Back end course
      </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Notes</h3>
    <mat-list-item>
      <mat-icon mat-list-icon>note</mat-icon>Additional info</mat-list-item>
  </mat-list>
</div>
  