.search-button-row button,
.search-button-row a {
  margin-left: auto;
}

.search-button-row{
  margin: left;
}
.search-form{
  width: 100%;
  margin-left:auto
}
.search-form-field{
  width: 50%;
  margin-left:auto
}