<h2 mat-dialog-title
  [ngStyle]="{'background-color':'white', 'color': 'primary', 'font-size': '24px', 'text-align': 'center'}">SOME ERROR
  OCCURS
</h2>
<div mat-dialog-content>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
    [ngStyle]="{'font-size': '10px', 'text-align': 'center'}">
    <mat-expansion-panel-header>
      <mat-panel-title [ngStyle]="{'font-size': '12px'}">
        Click to get more details.
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    {{data.errorMessage}}
  </mat-expansion-panel>
</div>
<div mat-dialog-actions [ngStyle]="{'float': 'right', 'display': 'block'}">
  <button mat-raised-button color="primary" (click)="onNoClick()">Cancel</button>
</div>