.team-card {
    max-width: 400px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
  }
  
  .team-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  
.top-rated {
  background-color: gold;   
}