<div class="team-list">
    <div class="search-panel">
        <app-search></app-search>
        <button mat-raised-button color="primary" *ngIf="isLogged()" [routerLink]="['add']"> Add team
        </button>
    </div>
    <mat-divider></mat-divider>
     <div>
        <p *ngIf="!isTeamsEmpty() && isLogged()">No teams, feel free to add new one!</p>
        <div class="team-list">
            <app-team *ngFor="let team of teams$ | async" [team]="team" (onDelete)="onDeleteClicked($event)"
                (onEdit)="onEditClicked($event)" [isLogged]="isLogged">
            </app-team>
        </div>
    </div>
</div>